<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p><%= message %></p>
    <form method="post" action="/hello">
      <p>
        <input name="message"></input>
        <input class="button" type="submit" value="Update Greeting">
      </p>
    </form>
  </body>
</html>